body * {
  position: relative;
  z-index: 1;
}

html,
body {
  background-color: black;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.card {
  margin-right: 5%;
  transition: transform 0.7s ease;
}

.card:hover {
  transform: scale(1.4);
}

.descripcion-contenedor {
  font-size: large;
  font-family: "Roboto Condensed", sans-serif;
  background: rgba(0, 51, 102, 0.55);
  backdrop-filter: blur(5px);
}
