#universe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
}

.star1 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  position: absolute;
}

.star2 {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
}

.star3 {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
}

body,
html {
  background: linear-gradient(to right, #00223e, #0d0d15);
  margin: 0;
  padding: 0;
}

.star1,
.star2,
.star3 {
  position: absolute;
}
